@import "tailwindcss";

/* Google Font */


/* Global */
* {
  font-family: "", sans-serif;
}

/* Hide Scrollbar */
::-webkit-scrollbar {
  display: none;
}

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --color-primary: ;
  --color-secondary: ;
  --color-tertiary: ;
}